---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>Immersing Nations One Community at A Time</h1>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
  <div class='buttons-wrapper'>
    Hello
  </div>
</BaseLayout>
