---
import { BaseHead, Header, Footer } from '../components';

const { title, description } = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class='content-wrapper'>
      <Header client:load />
      <main class='content'>
        <slot />
      </main>
    </div>
    <Footer client:load />
  </body>
</html>
